.navigation {
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px dashed @navigation-border;
    width: 52%;
    align-items: baseline;
    
nav {
    
    a {
     margin: 40px;
     text-decoration: none;
        }
    }
}
        

  
